* {
    margin: 0px;
    padding: 0px;
    color: #ffffff;

}

/* Corpo da página */
main {
    width: 100%;
    background-color: #353535;
}

section.o_que_fazemos {
    display: flex;  
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.setas {
    cursor: pointer;
    height: 90px;
    width: 90px;
}

.o_que_fazemos > p {
    align-self: flex-start;
    text-align: justify;
    max-width: 500px;
    margin: 0px 30px 0px 20px;
    font-size: 1.5em;
}

.img_o_que_fazemos {
    margin: 0px 20px 0px 0px;
}

/* Perguntas frequentes */
.perguntas_frequentes {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    margin: 30px 0px 0px 0px;
    padding: 0px 0px 20px 0px;
}

.perguntas_frequentes h2 {
    font-size: 3em
}

.box_pergunta {
    width: 70%;
    color: #ffffff;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    margin: 15px 0px 0px 0px;
    padding: 2vh;    
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.box_pergunta:hover {
    height: auto; /* Remova a altura fixa para permitir que ela se ajuste dinamicamente */
    margin-bottom: 20px;
}

.box_pergunta p {
    margin-top: 2vh;
    visibility: hidden;
    display: none;
}

.box_pergunta:hover p {
    visibility: visible;
    display: block; /* Mude para "block" para que o parágrafo apareça */
}

/* Div que contém a pergunta e a imagem da seta */
.pergunta {
    display: flex;
    align-items: center;
}

.pergunta > div { /* Caixa onde a imagem está */
    height: 45px;
    width: 40px;
    border: solid 1px #ffffff;
    border-radius: 50%;
    margin-right: 15px;
}

.seta_pergunta {
    height: 100%;
    width: 100%
}

/* Responsividade para desktop */
@media (max-width: 900px) {
    .o_que_fazemos > p {
        font-size: 1.3em;
    }
}

@media (max-width: 740px) {
    .o_que_fazemos > p {
        font-size: 1.1em;
    }    

    .img_o_que_fazemos {
        width: 270px;
    }

    .perguntas_frequentes > h2 {
        font-size: 2em;
    }
}

@media (max-width: 630px) {
    .o_que_fazemos > p {
        font-size: 1em;
    }    

    .img_o_que_fazemos {
        width: 200px;
    }
}

/* Responsividade para mobile */
@media (max-width: 560px) {
    section.o_que_fazemos {
        flex-direction: column;
    }

    .o_que_fazemos > p {
        align-self: center;
        max-width: 400px;
        margin-bottom: 30px;
    }

    .img_o_que_fazemos {
        width: auto;
    }
}

@media (max-width: 350px) {
    .perguntas_frequentes > h2 {
        font-size: 1.7em;
    }
}