* {
    margin: 0px;
    padding: 0px;
    color: #ffffff;
}

section.carrossel {
    background-image: url("../img/chevete.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}




/* Perguntas frequentes */
.perguntas_frequentes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 30px 0px 0px 0px;
}

.box_pergunta {
    width: 70%;
    color: #ffffff;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    margin: 15px 0px 0px 0px;
    padding: 2vh;    
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.box_pergunta:hover {
    height: auto; /* Remova a altura fixa para permitir que ela se ajuste dinamicamente */
    margin-bottom: 20px;
}

.box_pergunta p {
    margin-top: 2vh;
    visibility: hidden;
    display: none;
}

.box_pergunta:hover p {
    visibility: visible;
    display: block; /* Mude para "block" para que o parágrafo apareça */
}

/* Div que contém a pergunta e a imagem da seta */
.pergunta {
    display: flex;
    align-items: center;
}

.pergunta > div { /* Caixa onde a imagem está */
    height: 45px;
    width: 40px;
    border: solid 1px #ffffff;
    border-radius: 50%;
    margin-right: 15px;
}

.seta_pergunta {
    height: 100%;
    width: 100%;
}