body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #2a2929;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.equipe {
    display: flex;
    align-items: center;
    gap: 50px;
    background-color: #2a2929; 
    color: white; 
    height: auto;
    width: 80%;
    padding: 50px 0px 0px 0px;
}

div.efeito_fade {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 100%;
    position: relative; /* Referência que o outro elemento (filho) toma para se posicionar */
}

.p_efeito_fade {
    opacity: 0;
    z-index: 2;
    position: absolute;
    left: 10%; /* Distância de 20px da borda esquerda do elemento pai */
    height: 30%;
    width: 90%;
    font-size: 1.3em;
    text-align: justify;
    transition: transform 1s, opacity 1.8s ease-in-out;
}

.paragrafo_ativo {
    transform: translateX(10%);
    opacity: 1;
}

.img_efeito_fade {
    z-index: 5;
    height: 100%;
    width: 100%;
    border-radius: 5% 5% 5% 5%;
    margin: 0px;
    text-align: justify;
    transition: transform 1s, opacity 1s ease-in-out; /* Adiciona uma transição suave */
}

.img_efeito_fade:hover {
    transform: translateX(180px); /* Move 20px para a direita */
    opacity: 0;
}

@media (max-width: 1150px) {
    div.efeito_fade {
        height: 380px;
    }

    .p_efeito_fade {
        font-size: 1.2em;
    }
}

@media (max-width: 950px) {
    div.efeito_fade {
        height: 300px;
    }

    .p_efeito_fade {
        font-size: 1em;
    }
}

@media (max-width: 800px) {
    section.equipe { 
        flex-direction: column;
        width: 55%;
    }

    .p_efeito_fade {
        width: 85%;
    }

    .paragrafo_ativo {
        transform: translateX(0);
    }
}

@media (max-width: 600px) {
    section.equipe {
        flex-direction: column;
        align-items: center;
        gap: 80px;
        width: 70%;
    }

    div.efeito_fade {
        height: 220px;
    }

    .p_efeito_fade {
        left: 0;
        width: 100%;
    }
}