body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #2a2929;
    color: white;
}

.carrossel {
    background-image: url('../img/chevete.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.equipe {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2a2929; 
    color: white; 
    margin-left: ;
    padding-left: 20%;
    padding-right: 10%;
}

.sobre {
    width: 100%;
    justify-content: space-between;
    margin-top: 20vh;
   
    
}

.sobre p {
    width: 50%;
    height: 40vh;
    font-size: 1.3em;
    text-align:justify;
    margin-bottom: 3vh;
}

.sobre img {
    background-size: cover;
    background-position: center;
    height:60vh;
    width: 60%;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

@media (max-width: 600px) {
    .equipe {
        flex-direction: column;
        align-items: center;
        height: 300vh;
    }

    .sobre {
        display: block;
        margin-right: 0;
        margin-bottom: 5;
        
    }
    .sobre p {
        width: 80%;
        height: 40vh;
        padding: 10%;
    }
    
    .sobre img {
        background-size: cover;
        background-position: center;
        height: 50vh;
        width: 80%;
        display: flex;
        padding: 10%;
    }
}

@media (max-width:400px) {
    
    .equipe {
        flex-direction: column;
        align-items: center;
        height: 350vh;
    }

    .sobre {
        display: block;
        margin-right: 0;
        margin-bottom: 5vh;
        
    }
    .sobre p {
        width: 80%;
        height: 40vh;
        padding-left: 10%;
        padding-right: 5%;
        margin-top: 0%;
        margin-bottom: 50vh;
    }
    
    .sobre img {
        background-size: cover;
        background-position: center;
        height: 50vh;
        width: 80%;
        display: flex;
        padding: 10%;
        margin-top: 0%;
        margin-bottom: 0vh;
    }

}