body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #2a2929;
    color: white;
}

.carrosel {
    background-image: url('../img/chevete.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    opacity: 0.7;
    margin-bottom: 2vh;
}

.equipe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2a2929; 
    color: white; 
}

.sobre {
    width: 100%;
    height: 50vh;
    display: block;
    justify-content: space-between;
}

.sobre p {
    width: 50%;
    height: 40vh;
    padding: 10%;
}

.sobre img {
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    padding: 10%;
}

@media (max-width: 600px) {
    .equipe {
        flex-direction: column;
        align-items: center;
    }

    .sobre {
        margin-right: 0;
        margin-bottom: 5;
    }
    .sobre p {
        width: 80%;
        height: 40vh;
        padding: 10%;
    }

    .sobre img {
        background-size: cover;
        background-position: center;
        height: 50vh;
        width: 80%;
        display: flex;
        padding: 10%;
    }
}
